[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Welcome Kavach OS
Exec=python3 /usr/bin/kavach-welcome
Icon=/usr/share/kavach-welcome/img/kavach-welcome.png
Terminal=false
StartupNotify=true
